---
import logoPaars from "../images/logoPaars.svg";
import logoWit from "../images/logoWit.svg";
import { Image } from "astro:assets";
import "@fontsource/bebas-neue";

import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale || "nl";
const otherLocale = currentLocale === "en" ? "nl" : "en";

// current page url with a potential /en/ prefix removed
const currentPage = Astro.url.pathname.replace(/^\/en\//, "/");

const lonk = getRelativeLocaleUrl(otherLocale, currentPage);

const otherLang = otherLocale === "en" ? "English" : "Nederlands";

const home = getRelativeLocaleUrl(currentLocale, "/");
const info = getRelativeLocaleUrl(currentLocale, "/info");
const travel = getRelativeLocaleUrl(currentLocale, "/travel");
const gezelligheid = getRelativeLocaleUrl(currentLocale, "/gezelligheid");
const europe = getRelativeLocaleUrl(currentLocale, "/europe");
---

<div id="holder">
    <header>
        <Image
            src={logoWit}
            alt="Logo"
            width="200"
            loading="eager"
            id="aegeelogo"
        />
    </header>
    <nav>
        <a href={home}>Home</a>
        <a href={info}>Info</a>
        <a href={travel}>Travel</a>
        <a href={gezelligheid}>Gezelligheid</a>
        <a href={europe}>Europe</a>
        <a href={lonk}>{otherLang}</a>
    </nav>
    <header>
        <Image src={logoPaars} alt="Logo" width="200" loading="eager" />
    </header>
</div>

<style lang="scss">
    /// Stroke font-character
    /// @param  {Integer} $stroke - Stroke width
    /// @param  {Color}   $color  - Stroke color
    /// @return {List}            - text-shadow list
    @function stroke($stroke, $color) {
        $shadow: ();
        $from: $stroke * -1;
        @for $i from $from through $stroke {
            @for $j from $from through $stroke {
                $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
            }
        }
        @return $shadow;
    }
    /// Stroke font-character
    /// @param  {Integer} $stroke - Stroke width
    /// @param  {Color}   $color  - Stroke color
    /// @return {Style}           - text-shadow
    @mixin stroke($stroke, $color) {
        text-shadow: stroke($stroke, $color);
    }

    #holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100vw;
        background-color: transparent;
        border-bottom: white 1px solid;

        // transition: backdrop-filter 0.5s linear;

        &[data-scroll="1"] {
            box-shadow: 0px -10px 2px rgba(34, 34, 34, 0.5);
            backdrop-filter: saturate(180%) blur(20px);
            @media (max-width: 768px) {
                backdrop-filter: none;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            position: absolute;
        }
    }
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-grow: 100;
        @media (max-width: 768px) {
            text-align: center;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: white;
        font-size: xx-large;
        @media (max-width: 768px) {
            font-size: x-large;
            width: 30%;
        }
        font-family: "Bebas Neue", sans-serif;
        @include stroke(1, rgba(34, 34, 34, 0.2));
    }

    @media (max-width: 768px) {
        #aegeelogo {
            display: none;
        }
    }
</style>

<script>
    function changeCss() {
        var navElement = document.querySelector<HTMLDivElement>("#holder");
        if (navElement === null) return;

        if (window.scrollY > 0) {
            navElement.setAttribute("data-scroll", "1");
        } else {
            navElement.setAttribute("data-scroll", "0");
        }
    }

    window.addEventListener("scroll", changeCss, false);
</script>
